<%= link_to_unless_current "English", locale: 'en' %>
<%= link_to_unless_current "Svenska", locale: 'sv' %>

<%= link_to t('login'), "/" %>

<h1> The Viking Times </h1>

<% @articles.each do |article|%>
    <%=  link_to(article_path(article)) do %>
        <%= article.title %>
        <%= article.lead %>
    <% end %>
<% end %>