<h1><%= t :editarticle, scope: 'titles' %></h1>
 
<%= form_with model: @article, url: journalist_article_path(@article), local: true do |form| %>
    <p>
        <%= form.label t(:title, scope: 'form_with') %><br>
        <%= form.text_field :title %>
    </p>
 
    <p>
        <%= form.label t(:lead, scope: 'form_with') %><br>
        <%= form.text_area :lead %>
    </p>

    <p>
        <%= form.label t(:content, scope: 'form_with') %><br>
        <%= form.text_area :content %>
    </p>
 
    <p>
        <%= form.submit %>
    </p>

    <p> 
        <%= link_to t('delete', scope: 'links'), 
            journalist_article_path(@article), 
                method: :delete,
                data: { confirm: 'Are you sure?' } 
        %>     
    </p>
        
<% end %>
 
<%= link_to t('back', scope: 'links'), journalist_article_path %>