<p>
    <strong><%= t :title, scope: 'titles' %></strong>
    <%= @article.title %>
</p>

<p>
    <strong><%= t :lead, scope: 'titles' %></strong>
    <%= @article.lead %>
</p>
 
<p>
    <strong><%= t :text, scope: 'titles' %></strong>
    <%= @article.content %>
</p>

<p>
    <%= image_tag @article.image, style: 'height:30%;width:30%;' if @article.image.attached? %>
</p>
<%= link_to t('edit', scope: 'links'), edit_journalist_article_path %>
<%= link_to t('back', scope: 'links'), journalist_articles_path %>