<p>
    <strong>Title:</strong>
    <%= @article.title %>
</p>

<p>
    <strong>Lead:</strong>
    <%= @article.lead %>
</p>
 
<p>
    <strong>Text:</strong>
    <%= @article.content %>
</p>
<%= link_to "Edit", edit_journalist_article_path %>
<%= link_to "Back", journalist_articles_path %>