<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <title>The Viking Times</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css?family=Germania+One|Georgia', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application' %>
  </head>
  <body class="bg-grey-lighter">
    <nav class="nav py-5 flex justify-between">
      <div class="ml-3 text-white font-bold">
          <%= link_to_unless_current "English", locale: 'en', class: "header-links" %>
          <%= link_to_unless_current "Svenska", locale: 'sv', class: "header-links"  %>
      </div>
      <div class="float-right mr-5">
        <% if user_signed_in? %>
          <%= link_to t('signout'), destroy_user_session_path, method: :delete, class: "header-links login-button" %>
        <% else %>
          <%= link_to t('login'), new_user_session_path, method: :new, class: "header-links login-button"%>
        <% end %>
      </div>
    </nav>  
      <%= notice || alert %>
      <%= yield %>
  </body>
</html>
